.jumbotron{
    background-color: #b2dba1;
}
.navbarckeckboxlabel{
    color: darkgray;
}
.navbarckeckbox{
    position: relative;
    top: 5px;
    left: 1px;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
.whitecolor{
    color: white;
}
#message {
    width: 150px;
    height: 30px;
    position: fixed;
    border-radius: 5px;
    background-color: #817EA6;
    opacity: .3;
    z-index: 2;
    right: 10px;
    top: 20px;
    padding: 5px;
    transition: opacity 0.5s 0.01s linear;
    -webkit-transition: opacity 0.5s 0.01s linear;
    -moz-transition: opacity 0.5s 0.01s linear;
    -o-transition: opacity 0.5s 0.01s linear;
}
#message > div {
    position: relative;
}

#message > div > div {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

#message > div > div:hover {
    color: #2E296C;
}

#message > div > span {
    position: absolute;
    left: 0;
    top: 10px;
}

#message:hover {
    opacity: .7;
}
.enlarge_interval{
    margin-bottom: 5px;
}
.ontop{
    position: fixed;
    right: 25px;
    bottom: 25px;
    border-radius: 10px;
    opacity: 0.5
}
#ajax_info{
    background-image: url("../img/ajax-loader.gif");
    width:16px;
    height:16px;
    display: none;
}
.thumbnail>img{
    height: 130px;
}
.img-rounded{
    max-width: 300px;
}
.nav ul a.btn{
    margin-left: 0px;
}
.afterNews{
    clear: both;
}
